services/node_red/flows.json
[{"id":"56c729c1.5bdc78","type":"tab","label":"NORA Wake on lan","disabled":false,"info":""},{"id":"9e44583e.83c488","type":"tab","label":"NORA Collection LEDs","disabled":false,"info":""},{"id":"7846a521.6edaac","type":"nora-config","name":"nora config","group":"","notify":false},{"id":"345c51ed.a72a5e","type":"nora-switch","z":"56c729c1.5bdc78","devicename":"Computer","roomhint":"","name":"","passthru":true,"nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":520,"y":240,"wires":[["be123a83.346c48"]]},{"id":"be123a83.346c48","type":"wake on lan","z":"56c729c1.5bdc78","mac":"70-85-C2-B9-D4-8D","host":"192.168.3.17","udpport":"7","name":"SAKO-PC-HOME","x":860,"y":240,"wires":[]},{"id":"c269cb37.b74898","type":"nora-switch","z":"9e44583e.83c488","devicename":"Fireplace","roomhint":"","name":"","passthru":true,"nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":520,"y":240,"wires":[["57cc3fc3.a3403"]]},{"id":"97eabd1e.53f5c","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/fire","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":200,"wires":[[]]},{"id":"57cc3fc3.a3403","type":"switch","z":"9e44583e.83c488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":240,"wires":[["97eabd1e.53f5c"],["df5f74c0.18a0a8"]]},{"id":"df5f74c0.18a0a8","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/all-off","tls":"","persist":false,"proxy":"","authType":"basic","x":1040,"y":260,"wires":[[]]},{"id":"7eeb8391.1cf26c","type":"nora-light","z":"9e44583e.83c488","devicename":"Whisky shelf","lightcolor":true,"brightnesscontrol":true,"turnonwhenbrightnesschanges":true,"passthru":true,"statepayload":true,"brightnessoverride":"","roomhint":"","name":"","nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":510,"y":620,"wires":[["52e4c857.d44698"]]},{"id":"9bebb2.919a245","type":"nora-switch","z":"9e44583e.83c488","devicename":"Rainbow","roomhint":"","name":"","passthru":true,"nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":510,"y":380,"wires":[["ae3a3de3.65715"]]},{"id":"5f282c53.2c57d4","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/rainbow","tls":"","persist":false,"proxy":"","authType":"basic","x":1040,"y":340,"wires":[[]]},{"id":"ae3a3de3.65715","type":"switch","z":"9e44583e.83c488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":380,"wires":[["5f282c53.2c57d4"],["26b47fb0.2578f"]]},{"id":"26b47fb0.2578f","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/all-off","tls":"","persist":false,"proxy":"","authType":"basic","x":1040,"y":400,"wires":[[]]},{"id":"52e4c857.d44698","type":"function","z":"9e44583e.83c488","name":"","func":"if ('color' in msg.payload){\n    for (const [k, v] of Object.entries(msg.payload.color.spectrumHsv)) {\n        msg.payload[k] = String(v);\n    }\n    delete msg.payload['color'];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":620,"wires":[["714a0f03.a9cd3"]]},{"id":"714a0f03.a9cd3","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://led_server/collection/hsv","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":620,"wires":[[]]},{"id":"c046331d.d693d","type":"nora-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf one","roomhint":"","scenereversible":false,"name":"","nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":530,"y":740,"wires":[["4138fe58.47b4f"]]},{"id":"4138fe58.47b4f","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/picker?section=0","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":740,"wires":[[]]},{"id":"5b20c1c9.49b7c","type":"nora-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf two","roomhint":"","scenereversible":false,"name":"","nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":530,"y":820,"wires":[["154c6c0f.1745d4"]]},{"id":"154c6c0f.1745d4","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/picker?section=1","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":820,"wires":[[]]},{"id":"f73b9f72.b6ef6","type":"nora-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf three","roomhint":"","scenereversible":false,"name":"","nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":530,"y":880,"wires":[["2a3fb391.66241c"]]},{"id":"2a3fb391.66241c","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/picker?section=2","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":880,"wires":[[]]},{"id":"22db88f3.ee7238","type":"nora-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf ","roomhint":"","scenereversible":false,"name":"","nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":520,"y":940,"wires":[["5036f5c1.2ff3fc"]]},{"id":"5036f5c1.2ff3fc","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://led_server/collection/picker","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":940,"wires":[[]]},{"id":"194876fb.8da6f9","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://led_server/collection/twinkle","tls":"","persist":false,"proxy":"","authType":"basic","x":990,"y":500,"wires":[[]]},{"id":"84b7b999.d90de8","type":"function","z":"9e44583e.83c488","name":"","func":"if ('color' in msg.payload){\n    for (const [k, v] of Object.entries(msg.payload.color.spectrumHsv)) {\n        msg.payload[k] = String(v);\n    }\n    delete msg.payload['color'];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":500,"wires":[["194876fb.8da6f9"]]},{"id":"6aa436f0.c777b8","type":"nora-light","z":"9e44583e.83c488","devicename":"Twinkle","lightcolor":true,"brightnesscontrol":true,"turnonwhenbrightnesschanges":true,"passthru":true,"statepayload":true,"brightnessoverride":"","roomhint":"","name":"","nora":"7846a521.6edaac","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":510,"y":500,"wires":[["84b7b999.d90de8"]]}]