services/node_red/flows.json
[{"id":"9e44583e.83c488","type":"tab","label":"NORA Collection LEDs","disabled":false,"info":""},{"id":"ab1f6f6e.f82ff","type":"tab","label":"Wake on LAN","disabled":false,"info":""},{"id":"3b60c5f0.2b93ca","type":"noraf-config","name":"Sako Arts","group":"","twofactor":"off","twofactorpin":"","localexecution":true,"structure":""},{"id":"76551e6e.5106e","type":"noraf-config","name":"out of order","group":"","twofactor":"off","twofactorpin":"","localexecution":true,"structure":""},{"id":"97eabd1e.53f5c","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/fire","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":200,"wires":[[]]},{"id":"57cc3fc3.a3403","type":"switch","z":"9e44583e.83c488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":240,"wires":[["97eabd1e.53f5c"],["df5f74c0.18a0a8"]]},{"id":"df5f74c0.18a0a8","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/all-off","tls":"","persist":false,"proxy":"","authType":"basic","x":1030,"y":260,"wires":[[]]},{"id":"5f282c53.2c57d4","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/rainbow","tls":"","persist":false,"proxy":"","authType":"basic","x":1030,"y":340,"wires":[[]]},{"id":"ae3a3de3.65715","type":"switch","z":"9e44583e.83c488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":380,"wires":[["5f282c53.2c57d4"],["26b47fb0.2578f"]]},{"id":"26b47fb0.2578f","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/all-off","tls":"","persist":false,"proxy":"","authType":"basic","x":1030,"y":400,"wires":[[]]},{"id":"52e4c857.d44698","type":"function","z":"9e44583e.83c488","name":"","func":"if ('color' in msg.payload){\n    for (const [k, v] of Object.entries(msg.payload.color.spectrumHsv)) {\n        msg.payload[k] = String(v);\n    }\n    delete msg.payload['color'];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":740,"wires":[["714a0f03.a9cd3"]]},{"id":"714a0f03.a9cd3","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://collection_leds:5000/collection/hsv","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":740,"wires":[[]]},{"id":"4138fe58.47b4f","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/picker?section=0","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":860,"wires":[[]]},{"id":"154c6c0f.1745d4","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/picker?section=1","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":940,"wires":[[]]},{"id":"2a3fb391.66241c","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/picker?section=2","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":1000,"wires":[[]]},{"id":"5036f5c1.2ff3fc","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/picker","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":1060,"wires":[[]]},{"id":"194876fb.8da6f9","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://collection_leds:5000/collection/twinkle","tls":"","persist":false,"proxy":"","authType":"basic","x":1030,"y":620,"wires":[[]]},{"id":"84b7b999.d90de8","type":"function","z":"9e44583e.83c488","name":"","func":"if ('color' in msg.payload){\n    for (const [k, v] of Object.entries(msg.payload.color.spectrumHsv)) {\n        msg.payload[k] = String(v);\n    }\n    delete msg.payload['color'];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":620,"wires":[["194876fb.8da6f9"]]},{"id":"9199d970.fe84a8","type":"noraf-switch","z":"9e44583e.83c488","devicename":"Rainbow","roomhint":"","name":"","passthru":true,"errorifstateunchaged":false,"nora":"76551e6e.5106e","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactorpin":"","filter":false,"asyncCmd":false,"outputs":1,"x":510,"y":380,"wires":[["ae3a3de3.65715"]]},{"id":"d8d95dc1.f93de","type":"noraf-light","z":"9e44583e.83c488","devicename":"Whisky shelf","lightcolor":true,"brightnesscontrol":true,"commandonlycolor":false,"turnonwhenbrightnesschanges":true,"passthru":true,"statepayload":true,"brightnessoverride":"","roomhint":"","name":"","colortype":"hsv","nora":"3b60c5f0.2b93ca","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","temperaturemin":"2700","temperaturemax":"5500","x":530,"y":740,"wires":[["52e4c857.d44698"]]},{"id":"373b0b7a.5cd514","type":"noraf-switch","z":"9e44583e.83c488","devicename":"Fireplace","roomhint":"","name":"","passthru":true,"nora":"3b60c5f0.2b93ca","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactorpin":"","outputs":1,"x":510,"y":240,"wires":[["57cc3fc3.a3403"]]},{"id":"9ff379af.ce1628","type":"noraf-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf two","roomhint":"","scenereversible":false,"name":"","nora":"76551e6e.5106e","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactorpin":"","x":590,"y":940,"wires":[["154c6c0f.1745d4"]]},{"id":"1d675461.6ebddc","type":"noraf-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf three","roomhint":"","scenereversible":false,"name":"","nora":"76551e6e.5106e","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactorpin":"","x":590,"y":1000,"wires":[["2a3fb391.66241c"]]},{"id":"ead0afe.12b2e5","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/spring","tls":"","persist":false,"proxy":"","authType":"basic","x":1030,"y":460,"wires":[[]]},{"id":"6c4cf990.e92c68","type":"switch","z":"9e44583e.83c488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":500,"wires":[["ead0afe.12b2e5"],["8e040fda.3d97a"]]},{"id":"8e040fda.3d97a","type":"http request","z":"9e44583e.83c488","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://collection_leds:5000/collection/all-off","tls":"","persist":false,"proxy":"","authType":"basic","x":1030,"y":520,"wires":[[]]},{"id":"ea180040.3f2b2","type":"noraf-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf one","roomhint":"","scenereversible":false,"name":"","nora":"76551e6e.5106e","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactorpin":"","x":590,"y":860,"wires":[["4138fe58.47b4f"]]},{"id":"f0c2f0e4.bc75d","type":"noraf-scene","z":"9e44583e.83c488","devicename":"Random whisky shelf ","roomhint":"","scenereversible":false,"name":"","nora":"3b60c5f0.2b93ca","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":600,"y":1060,"wires":[["5036f5c1.2ff3fc"]]},{"id":"6bc8b8e6.499fe8","type":"noraf-light","z":"9e44583e.83c488","devicename":"Twinkle","lightcolor":true,"brightnesscontrol":true,"commandonlycolor":false,"turnonwhenbrightnesschanges":true,"passthru":true,"statepayload":true,"brightnessoverride":"","roomhint":"","name":"","colortype":"hsv","nora":"76551e6e.5106e","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","temperaturemin":"2700","temperaturemax":"5500","twofactorpin":"","x":520,"y":620,"wires":[["84b7b999.d90de8"]]},{"id":"c4bea44e.278758","type":"noraf-switch","z":"9e44583e.83c488","devicename":"Spring","roomhint":"","name":"","passthru":true,"nora":"76551e6e.5106e","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactorpin":"","outputs":1,"x":500,"y":500,"wires":[["6c4cf990.e92c68"]]},{"id":"2f4e9015c1c1a065","type":"noraf-thermostat","z":"9e44583e.83c488","devicename":"Shelve Switcher","roomhint":"","name":"","modes":"off","unit":"C","rangeMin":"","rangeMax":"","topic":"","passthru":true,"commandOnly":false,"queryOnly":false,"bufferRangeCelsius":2,"nora":"3b60c5f0.2b93ca","twofactor":"off","twofactorpin":"","filter":false,"x":560,"y":1160,"wires":[["4f0b4dada4585e44"]]},{"id":"4f0b4dada4585e44","type":"switch","z":"9e44583e.83c488","name":"","property":"payload.setpoint","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"15","v2t":"num"},{"t":"btwn","v":"15","vt":"num","v2":"17","v2t":"num"},{"t":"btwn","v":"17","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"19","vt":"num","v2":"21","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":1160,"wires":[["4138fe58.47b4f"],["154c6c0f.1745d4"],["2a3fb391.66241c"],["5036f5c1.2ff3fc"]]},{"id":"ec778641.d79508","type":"wake on lan","z":"ab1f6f6e.f82ff","mac":"70-85-C2-B9-D4-8D","host":"192.168.50.33","udpport":"7","name":"SAKO-PC-HOME","x":610,"y":260,"wires":[]},{"id":"b25b2d44.1f2c9","type":"noraf-switch","z":"ab1f6f6e.f82ff","devicename":"PC","roomhint":"Family Room","name":"","passthru":true,"nora":"3b60c5f0.2b93ca","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"off","twofactorpin":"","outputs":1,"x":310,"y":260,"wires":[["ec778641.d79508"]]},{"id":"a3d7b897.8d5e18","type":"noraf-switch","z":"ab1f6f6e.f82ff","devicename":"Computer","roomhint":"Family Room","name":"","passthru":true,"nora":"76551e6e.5106e","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"off","twofactorpin":"","outputs":1,"x":300,"y":320,"wires":[["ec778641.d79508"]]}]